// Global overrides for PrimeReact component styles

.pi {
  color: var(--color-text);
}

.p-button .pi {
  color: inherit;
}

.p-menuitem-text {
  color: var(--color-text);
}

.p-button {
  box-shadow: var(--shadow-float);
}

.p-menubar {
  box-shadow: var(--shadow-float);
}

.p-divider-horizontal::before {
  border-top: 1px solid var(--blue-300);
}

.p-divider-vertical::before {
  border-left: 1px solid var(--blue-300);
}

[data-theme='dark'] {
  .p-divider-horizontal::before {
    border-top: 1px solid var(--color-divider);
  }

  .p-divider-vertical::before {
    border-left: 1px solid var(--color-divider);
  }
}
